:root {
    --header-height: 60px;
    --main-bg-color: rgb(250, 250, 250);
    --sub-bg-color: rgb(219, 219, 219);
    --cwhite: white;
}


nav {
    background-color: white;
    order: 0;
    padding: 0;
}
.none {
    display: none;
}

html {
    background-color: var(--main-bg-color);
}











.header-wrap {
    margin: 0 auto;
    height: var(--header-height);
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}
nav {
    border-bottom: 1px solid var(--sub-bg-color);
    height: 61px;
}

.header-contain {
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 1000px;
}


/*アイコン部分*/
.icon {
    width: 20%;
    background-color: var(--cwhite);
    height: var(--header-height);
}
.icon-img {
    width: 56%;
    text-align: center;
    top: 50%;
    font-size: x-large;
    padding-top: 10px;
    font-family: 'Dancing Script', cursive;
}
.icon-img a {
    color: inherit;
}
.icon-img:hover a {
    text-decoration: none;
}
.icon-img img {
    width: 100%;
}

/*検索部分*/
.search {
    width: 40%;
    background-color: var(--cwhite);
    height: var(--header-height);
    margin-left: auto;
}
.search-box {
    text-align: center;
    padding-top: 12px;
}
.search-box input {
    width: 60%;
    height: 39px;
    border-radius: 10px;
    background-color: rgb(239,239,239);
    border: white;
}
.box {
    height: 21px;
    width: 25px;
    position: relative;
    transform: rotate(45deg);
    left: 45%;
    background-color: white;
    z-index: 4;
    border: 1px solid var(--sub-bg-color);
    top: 6px;
}
.search-result {
    height: 360px;
    top: -6px;
    border-radius: 2%;
    position: relative;
    background-color: white;
    overflow: scroll;
    border-left: 1px solid var(--sub-bg-color);
    border-bottom: 1px solid var(--sub-bg-color);
    border-right: 1px solid var(--sub-bg-color);
    z-index: 5;
}

.result-content {
    padding-top: 23px;
}
.result-user {
    display: flex;
    margin: 0 4%;
    text-align: center;
    justify-content: center;
    height: 57px;
}
.user-icon {
    width: 56px;
    border-radius: 50%;
    border: 1px solid var(--sub-bg-color);
}
.user-info {
    width: 85%;
    text-align: left;
    padding-left: 5px;
}
.user-id {
    color: rgb(38, 38, 38);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
                Roboto, Helvetica, Arial, sans-serif;
    padding-top: 7px;
}
.user-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(142, 142, 142);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-top: 5px;
}
.can-action {
    width: 104px;
    height: 30px;
}
.can-action-contain {
    width: 100%;
    height: 100%;
    padding: 5px 9px;
    margin: 10px;
}
.can-action-item {
    font-weight: 600;
    font-size: 8px;
    line-height: 18px;
}






.icons {
    width: 30%;
    margin-left: auto;
    height: var(--header-height);
}
.icons-contents {
    display: flex;
    height: 100%;
    padding-top: 15px;
}
.icons-contents img {
    width: 30px;
    height: 30px;
}
/*通知部分*/
.notice {
    height: 30px;
    margin-left: 10px;
    width: 30px;
}

.notice-box {
    height: 30px;
    width: 30px;
    position: relative;
    transform: rotate(45deg);
    z-index: 4;
    top: 7px;
    background-color: white;
    border: 1px solid var(--sub-bg-color);
}
.notice-wrap {
    position: relative;
    width: 500px;
    height: 376px;
    background-color: white;
    left: -361px;
    top: -13px;
    border-radius: 2%;
    overflow: scroll;
    border-left: 1px solid var(--sub-bg-color);
    border-bottom: 1px solid var(--sub-bg-color);
    border-right: 1px solid var(--sub-bg-color);
    z-index: 6;
}
.notice-content {
    width: 468px;
    height: 44px;
    padding:12px 16px;
    margin-bottom: 20px;
}
.notice-user {
    display: flex;
}
.user-icon-img {
    width: 44px;
    height: 44px;
}
.user-icon-img img {
    width: 100%;
    height: 100%;
}
.action {
    color: rgb(38, 38, 38);
    font-weight: 400;
}
.date {
    color: rgb(142, 142, 142);
    margin-left: 10px;
}


/* ホーム　*/
.home {
    height: 30px;
    margin-left: 10px;
}

/*　ルーム部分　*/
.room {
    height: 30px;
    margin-left: 10px;
}
.questions {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.my-icon {
    height: 30px;
    margin-left: 10px;
}
.my-icon-box {
    height: 30px;
    width: 30px;
    position: relative;
    transform: rotate(45deg);
    z-index: 4;
    top: 7px;
    background-color: white;
    border: 1px solid var(--sub-bg-color);
}
.my-icon-description {
    position: relative;
    width: 198px;
    top: -18px;
    left: -122px;
    background-color: var(--cwhite);
    z-index: 5;
    border-radius: 2%;
    border-left: 1px solid var(--sub-bg-color);
    border-bottom: 1px solid var(--sub-bg-color);
    border-right: 1px solid var(--sub-bg-color);
}
.profile-content {
    display: flex;
    padding: 8px 16px;
    margin-top: 4px;
}
.profile-text {
    margin: auto 0;
    padding-left: 13px;
    color: rgb(38, 38, 38);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.profile-icon img{
    width: 25px;
    height: 25px;
}
.setting-content {
    display: flex;
    padding: 8px 16px;
    margin-top: 4px;
}
.setting-text {
    margin: auto 0;
    padding-left: 13px;
    color: rgb(38 38 38);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.setting-icon img{
    width: 25px;
    height: 25px;
}
.line {
    background-color: rgb(219, 219, 219);
    border: 0;
    height: 1px;
    margin: 0;
    width: 100%;
}
.a {
    text-decoration: none;
    color: rgb(38 38 38);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
a:hover {
    text-decoration: none;
    color: rgb(38 38 38);
}
.logout-content {
    padding: 8px 16px;
    margin-bottom: 4px;
}
.logout {
    text-decoration: none;
    color: rgb(38 38 38);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}