body {
    margin: 0;
}

.board-container {
    width: 100%;
    height: 100vh;
    margin-top: 62px;
    background-color: rgb(250, 250, 250);
}

.board-wrap {
    max-width: 930px;
    min-width: 930px;
    height: 90%;
    margin: 0 auto;
    padding: 5vh 0;
    display: flex;
}
.picture-container {
    overflow: hidden;
    width: 600px;
    height: 600px;
    object-fit: cover;
}
.picture-wrap {
    display: flex;
    height: 100%;
    position: relative;
    transition-duration: .5s;
    left: 0%;
}
.picture-wrap > img {
    width: 100%;
    height: 100%;
    resize: both;
    top: 0;
    left: 0;
}
.navigator {
    position: relative;
    top: -50%;
    left: 11px;
    display: flex;
    justify-content: space-between;
    width: 581px;
}
.board-before {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(/static/sns/img/home/before.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    background-color: white;
}
.navigator-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: -100;
    opacity: 0;
    transform: translateY(-3px);
}
.navigator-before {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: -100;
    opacity: 1;
    transform: translateY(-3px);
}

.board-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(/static/sns/img/home/next.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
    background-color: white;
}
.position-wrap {
    position: relative;
    top: -9%;
    height: 16px;
    display: flex;
    justify-content: center;
    width: 600px;
}
.position {
    width: 10px;
    margin: 3px;
    height: 10px;
    border-radius: 50%;
    background-color: #eeeeee;
}
.blue {
    background-color: #007bff;;
}
.board-before {
    border-radius: 50%;
}


.right-container {
    background-color: rgb(250,250,250);
    width: 330px;
}
.board-header-contents {
    display: flex;
    justify-content: space-between;
    padding: 14px 4px 14px 16px;
}
.board-user-wrap {
    display: flex;
}

.three-point > img {
    width: 20px;
    height: 20px;
}
.board-header-wrap {
    height: 60px;
    border: 1px solid rgb(239, 239, 239);
}
.board-icon > a >  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.board-username {
    padding-left: 20px;
}
.board-username > a {
    color: rgb(38, 38, 38);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
}
.board-setting {
    padding: 5px;
}


.board-middle-wrap {
    height: 420px;
    overflow: scroll;
    border: 1px solid rgb(239, 239, 239);
}
.comments-container {
    /*height: 60px;*/
}
.comments-wrap {
    padding: 14px 4px 14px 16px;
    display: flex;
}
.comment-user-icon > a >  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.comment-username > a {
    color: rgb(38, 38, 38);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
}
.comment-username {
    padding-left: 20px;
}
.comment-text {
    color: rgb(38, 38, 38);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-top: 5px;
}

.board-action-wrap {
    height: 40px;
}
.favorite-wrap {
    padding: 4px 4px 4px 16px;
}
.favorite-wrap > img {
    width: 34px;
    height: 34px;
}
.board-like-container {
    border-right: 1px solid rgb(239, 239, 239);
}
.like-list {
    color: rgb(38, 38, 38);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 4px 0 4px 7px;

}
.strong {
    color: rgb(38, 38, 38);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.board-time {
    color: rgb(142, 142, 142);
    letter-spacing: .2px;
    font-size: 2px;
    padding: 2px 0 0 4px;
    border-right: 1px solid rgb(239, 239, 239) ;
}

.board-action-wrap {
    border-right: 1px solid rgb(239, 239, 239);
}
.board-comment-action-wrap {
    border: 1px solid rgb(239, 239, 239);
}
.comment {
    border: none;
    padding-left: 20px;
    outline: none;
    height: 32px;
    width: 210px;
    background-color: rgb(250, 250, 250);
}
.comment-submit {
    border: none;
    outline: none;
    background-color: rgb(250, 250, 250);
    color: #007bff;
    padding-left: 16px;
    height: 32px;
    padding-right: 3px;
}
