.none {
    display: none;
}

.home-wrap {
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 100%;
}

.home-container {
    background-color: rgb(250, 250, 250);
    display: flex;
    max-width: 821px;
    margin: 0 auto;
    padding-top: 90px;
}





/*提示版*/
.left-container {
    width: 470px;
    margin-top: 10px;
    margin-right: 32px;
}

.board-container {
    /*background-color: red;*/
    width: 470px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgb(219, 219, 219);
}

.board-wrap {
    width: 470px;
}


/*提示版ヘッダー*/
.board-header-wrap {
    width: 100%;
    height: 56px;
    background-color: rgb(255, 255, 255);
}
.board-header-contents {
    display: flex;
    padding-top: 14px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.board-user-wrap {
    background-color: rgb(255, 255, 255);
    display: flex;
}
.board-icon {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}
.board-icon a > img {
    width: 100%;
    height: 100%;
}

.board-username  a {
    margin-left: 5px;
    padding-top: 3px;
    color: rgb(38, 38, 38);
    font-size: 14px;
    font-weight: 600;
}

.board-setting {
    padding-right: 17px;
}

.three-point {
    width: 24px;
    height: 24px;
}
.three-point > img {
    width: 100%;
    height: 100%;
}


.board-picture-wrap {
    overflow: hidden;
    position: relative;
}
.board-picture {
    display: flex;
    transition-duration: .5s;
    position: relative;
    left: 0%;
    top: 0;
}
.board-picture > img {
    height: 585px;
    min-width: 100%;
}
.navigator-before {
    position: absolute;
    top: 50%;
    left: 2%;
    width: 30px;
    border: none;
    padding: 0;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    z-index: 40;
}
.navigator-before-shadow {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 49.7%;
    left: 1.6%;
    border-radius: 50%;
    background-color: #6c757d;
    z-index: 30;
    opacity: 0.15;
}
.before {
    width: 30px;
    height: 30px;
    background-image: url(/static/sns/img/home/before.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.4;
}
.navigator-next {
    position: absolute;
    top: 50%;
    right: 2%;
    width: 30px;
    border: none;
    padding: 0;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    z-index: 40;
}
.navigator-next-shadow {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 49.7%;
    right: 1.6%;
    border-radius: 50%;
    background-color: #6c757d;
    z-index: 30;
    opacity: 0.15;
}
.next {
    width: 30px;
    height: 30px;
    background-image: url(/static/sns/img/home/next.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.4;
}








.board-footer {
    height: 100%;
}
.board-action-wrap {
    height: 46px;
    width: 100%;
    padding-top: 3px;
    display: flex;
}
.favorite {
    width: 40px;
    height: 40px;
    margin-left: 7px;
    padding-top: 7px;
}
.favorite > img {
    width: 24px;
    height: 24px;
}
.like-list {
    padding: 0 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}
.strong {
    color: rgb(38, 38, 38);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.board-description-container {
    padding: 0px 12px 0 12px;
}
.board-description-wrap {
    color: rgb(38, 38, 38);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}
.board-comment-list-wrap {
    color: rgb(142, 142, 142);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 0;
}
.board-description-user {
    font-weight: 600;
    padding-bottom: 3px;
}
.board-description-text {
    overflow-wrap: break-word;
}
.board-time {
    border-bottom: 1px solid rgb(219, 219, 219);
    color: rgb(142, 142, 142);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 0 12px 5px;
    margin: 6px 0;
}
.board-comment-action-wrap {
    height: 40px;
    display: flex;
}
.comment-head > a{
    color: rgb(142, 142, 142);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.comment {
    height: 100%;
    width: 85%;
    border: none;
    padding-left: 20px;
    outline: none;
}
.comment-submit {
    border: none;
    outline: none;
    background-color: white;
    color: #007bff;
    width: 15%;
}
.comment-list {
    display: flex;
}
.comment-username > a{
    color: rgb(25, 25, 25);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}
.comment-text > a{
    color: rgb(38, 38, 38);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.position-wrap {
    display: flex;
    position: relative;
    left: 50%;
    padding-top: 10px;
}
.position {
    width: 5px;
    height: 5px;
    background-color: #6c757d;
    border-radius: 50%;
    margin-right: 5px;
}
.position.blue {
    background-color: #007bff;
}




.setting-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 10000;
}
.setting-wrap {
    max-width: 400px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 18px;
    background-color: white;
    text-align: center;
    margin: 300px auto;
}
.setting-follow {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgb(214, 214, 214);
    cursor: pointer;
}
.delete-board {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgb(214, 214, 214);
    cursor: pointer;
    color: red;
}
.setting-move-board {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgb(214, 214, 214);
    cursor: pointer;
}
.setting-cancel {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.setting-follow-clear-action {
    color: red;
}




/* 掲示板編集画面 */
/* 大枠 */
.edit-board-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 10000;
}
.edit-board-wrap {
    max-width: 930px;
    min-width: 930px;
    height: 90%;
    margin: 0 auto;
    padding: 5vh 0;
}
/* ヘッダー */
.edit-board-header-container {
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background-color: rgb(255, 255, 255);
}
.edit-board-header-cancel {
    width: 10%;
    text-align: center;
    line-height: 40px;
    color: rgb(38, 38, 38);
    font-weight: 400;
    font-size: 14px;
    padding-left: 15px;
    cursor: pointer;
}
.edit-board-header-title {
    width: 80%;
    text-align: center;
    line-height: 40px;
    color: rgb(38, 38, 38);
    font-weight: 600;
    font-size: 16px;
}
.edit-board-header-submit {
    width: 10%;
    text-align: center;
    line-height: 40px;
    color: rgb(0, 149, 246);
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-right: 15px;
}
.edit-board-items {
    display: flex;
}
/* 左側の写真 */
.edit-picture-container {
    overflow: hidden;
    width: 600px;
    height: 600px;
    object-fit: cover;
}
.edit-picture-wrap {
    display: flex;
    height: 100%;
    position: relative;
    transition-duration: .5s;
    left: 0%;
}
.edit-picture-wrap > img {
    width: 100%;
    height: 100%;
    resize: both;
    top: 0;
    left: 0;
}
.edit-navigator {
    position: relative;
    top: -50%;
    left: 11px;
    display: flex;
    justify-content: space-between;
    width: 581px;
}
.edit-board-before {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(/static/sns/img/home/before.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    background-color: white;
}
.edit-navigator-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: -100;
    opacity: 0;
    transform: translateY(-3px);
}
.edit-navigator-before {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: -100;
    opacity: 1;
    transform: translateY(-3px);
}

.edit-board-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(/static/sns/img/home/next.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
    background-color: white;
}
.edit-position-wrap {
    position: relative;
    top: -9%;
    height: 16px;
    display: flex;
    justify-content: center;
    width: 600px;
}
.edit-position {
    width: 10px;
    margin: 3px;
    height: 10px;
    border-radius: 50%;
    background-color: #eeeeee;
}
.edit-blue {
    background-color: #007bff;;
}
.edit-board-before {
    border-radius: 50%;
}
/* 右側の要素 */
.edit-right-container {
    background-color: rgb(255,255,255);
    width: 330px;
}
.edit-board-header-contents {
    display: flex;
    justify-content: space-between;
    padding: 14px 4px 14px 16px;
}
.edit-board-user-wrap {
    display: flex;
    padding: 17px 0 0 10px;
}
.edit-board-header-wrap {
    display: flex;
    height: 60px;
    border: 1px solid rgb(239, 239, 239);
}
.edit-board-icon > img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.edit-board-username {
    padding-left: 20px;
}
.edit-board-username {
    color: rgb(38, 38, 38);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
}
.edit-board-middle-wrap {
    height: 350px;
}
.edit-board-textarea > textarea {
    width: 300px;
    height: 500px;
    margin: 10px;
    border: none;
    background-color: rgb(255,255,255);
}
textarea {
    border: none;
    resize: none;
    outline: none;
}






















.select-post-type-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 10000;
}
.cancel-btn {
    position: absolute;
    top: 0;
    right: 0;
}
.overflow-hidden {
    overflow: hidden;
}
.select-post-type-wrap {
    width: 56%;
    border-radius: 2%;
    height: 80%;
    background-color: white;
    margin: 90px auto;
}
.header-text {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(219, 219, 219);
    font-weight: 600;
    font-size: 16px;
    color: rgb(25, 25, 25);
    line-height: 24px;
    padding: 10px 0;
}
.type {
    display: flex;
    width: 100%;
    height: 100%;
}
.text-type {
    width: 50%;
    text-align: center;
    padding-top: 40%;
}
.text-type > button {
    background-color: rgb(0,149,246);
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 5px 9px;
    text-align: center;
    width: 200px;
    line-height: 18px;
    height: 45px;
    outline: none;
}
.photo-type {
    width: 50%;
    text-align: center;
    padding-top: 40%;
}
.photo-type > button {
    background-color: rgb(0,149,246);
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 5px 9px;
    text-align: center;
    width: 200px;
    line-height: 18px;
    height: 45px;
    outline: none;
}
#cancel-btn {
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    background: rgb(0, 0, 0, 0);
}
#cancel-s-btn {
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    background: rgb(0, 0, 0, 0);
}
.cancel-l-a {
    display: block;
    position: relative;
    top: 2px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: rgb(255, 255, 255, 0.6);
    transform: rotate(-45deg);
    transform-origin: center;
}
.cancel-l-b {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: rgb(255, 255, 255, 0.6);
    transform: rotate(45deg);
    transform-origin: center;
}

.crop-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 10000;
}
.crop-image-wrap {
    width: 56%;
    border-radius: 2%;
    height: 650px;
    background-color: white;
    margin: 90px auto;
    overflow: hidden;
}
.crop-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(219, 219, 219);
}
.crop-header > .header-text {
    border: none;
}
.back-page {
    width: 10%;
    text-align: right;
}
.back-page > button {
    background-color: rgb(0, 0, 0, 0);
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    color: rgb(0,149,246);
    line-height: 24px;
    padding: 10px 0;
    text-align: right;
    cursor: pointer;
}
.next-page {
    width: 10%;
}
.next-page > button {
    background-color: rgb(0, 0, 0, 0);
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    color: rgb(0,149,246);
    line-height: 24px;
    padding: 10px 0;
    text-align: right;
    cursor: pointer;
}

.croppie-container {
    width: 100%;
    height: 100%;
}

.crop-images-box {
    height: 93%;
    display: flex;
    position: relative;
    transition-duration: .5s;
    top: 0;
    left: 0;
}
.crop-image-box {
    height: 100%;
    min-width: 100%;
}
.workspace {
    height: 550px;
    width: 100%;
    text-align: center;
}
.workspace > span {
    font-size: 3rem;
    position: relative;
    top: 50%;
}
.input-crop-image {
    height: 100px;
    padding: 15px 0 0 20px;
}

.description-input-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 10000;
}
.description-input-wrap {
    width: 56%;
    border-radius: 2%;
    height: 80%;
    background-color: white;
    margin: 90px auto;
    overflow: hidden;
}
.description-input-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(219, 219, 219);
}