<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FS {% endblock %}</title>
    {% load static %}
    {% comment %} <link rel="stylesheet" href="{% static 'sns/css/bootstrap-reboot.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'sns/css/base.css' %}">
    <link rel="icon" href="data:,">
    {% comment %} <link rel="preconnect" href="https://fonts.googleapis.com"> {% endcomment %}
    {% comment %} <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> {% endcomment %}
    {% comment %} <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet"> {% endcomment %}
    {% block file %}
    {% endblock %}
</head>
<body>
<div class="header-wrap">
    <nav>
        <div class="header-contain">
            <div class="icon">
                <div class="icon-img">
                    <a href="{% url 'sns:home' %}"><img src="{% static 'sns/img/base/final_club.svg' %}" alt="ロゴ"></a>
                </div>
            </div>
            <div class="search">
                <div class="search-box">
                    <form action="">
                        <label for="search_input"></label><input id="search_input" type="text" placeholder="   検索">
                    </form>
                    <div id="search_box" class="box none"></div>
                    <div id="search_result" class="search-result none">
                        {% comment %} <div class="result-content">
                            <div class="result-user">
                                <div class="user-icon">
                                    <a><img src=""></a>
                                </div>
                                <div class="user-info">
                                    <div class="user-id">
                                        <a href="">kagawa_shinji</a>
                                    </div>
                                    <div class="user-name">
                                        <a href="">kflajflajfjalkjflkjaldf</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="result-content">
                            <div class="result-user">
                                <div class="user-icon"></div>
                                <div class="user-info">
                                    <div class="user-id">
                                        matumoto_takeru
                                    </div>
                                    <div class="user-name">
                                        麻雀大好き軍団
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="result-content">
                            <div class="result-user">
                                <div class="user-icon"></div>
                                <div class="user-info">
                                    <div class="user-id">
                                        syogo1119
                                    </div>
                                    <div class="user-name">
                                        梁山泊
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="result-content">
                            <div class="result-user">
                                <div class="user-icon"></div>
                                <div class="user-info">
                                    <div class="user-id">
                                        aiueo12345
                                    </div>
                                    <div class="user-name">
                                        あいうえお
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="result-content">
                            <div class="result-user">
                                <div class="user-icon"></div>
                                <div class="user-info">
                                    <div class="user-id">
                                        uoooooooooooooooo
                                    </div>
                                    <div class="user-name">
                                        うおおおおおおおおおおおおおおおおおおおおおおおおお
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="result-content">
                            <div class="result-user">
                                <div class="user-icon"></div>
                                <div class="user-info">
                                    <div class="user-id">
                                        jjjjjjjjjjjjjjjjjj
                                    </div>
                                    <div class="user-name">
                                        kflajflajfjalkjflkjaldf
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="result-content">
                            <div class="result-user">
                                <div class="user-icon"></div>
                                <div class="user-info">
                                    <div class="user-id">
                                        jjjjjjjjjjjjjjjjjj
                                    </div>
                                    <div class="user-name">
                                        kflajflajfjalkjflkjaldf
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <div class="resutl-none">
                            検索結果はありません
                        </div>
                    </div>
                </div>
            </div>
            <div class="icons">
                <div class="icons-contents">
            <div class="home">
                <div class="home-icon">
                    <a href="{% url 'sns:home' %}" class="home-img"><img src="{% static 'sns/img/base/home.svg' %}" alt="ホームロゴ"></a>
                </div>
            </div>
            <div id="notice" class="notice">
                <div id="notice-icon" class="notice-icon">
                    <img id="notice-icon-img" src="{% static 'sns/img/base/notifications.svg' %}" alt="">
                </div>
                <div id="notice-box" class="notice-box none"></div>
                <div id="notice-wrap" class="notice-wrap none">
                      <div class="notice-content">
                          <div class="notice-user">
                              <div class="user-icon">
                                  <a href="" class="user-icon-img"><img src="{% static 'sns/img/base/account_circle.svg' %}" alt=""></a>
                              </div>
                              <div class="user-info">
                                  <div class="user-id">
                                      <span class="user-id">kagawa_shinji</span><span class="action">があなたの写真に「いいね！」 しました</span><span class="date">6日前</span>
                                  </div>
                              </div>
                              <div class="can-action">
                                  <button class="can-action-contain">
                                      <div class="can-action-item">フォローする</div>
                                  </button>
                              </div>
                          </div>
                      </div>
                      <div class="notice-content">
                          <div class="notice-user">
                              <div class="user-icon">
                                  <a href="" class="user-icon-img"><img src="{% static 'sns/img/base/account_circle.svg' %}" alt=""></a>
                              </div>
                              <div class="user-info">
                                  <div class="user-id">
                                      <span class="user-id">kagawa_shinji</span><span class="action">があなたの写真に「いいね！」 しました</span><span class="date">6日前</span>
                                  </div>
                              </div>
                              <div class="can-action">
                                  <button class="can-action-contain">
                                      <div class="can-action-item">フォローする</div>
                                  </button>
                              </div>
                          </div>
                      </div>
                      <div class="notice-content">
                          <div class="notice-user">
                              <div class="user-icon">
                                  <a href="" class="user-icon-img"><img src="{% static 'sns/img/base/account_circle.svg' %}" alt=""></a>
                              </div>
                              <div class="user-info">
                                  <div class="user-id">
                                      <span class="user-id">kagawa_shinji</span><span class="action">があなたの写真に「いいね！」 しました</span><span class="date">6日前</span>
                                  </div>
                              </div>
                              <div class="can-action">
                                  <button class="can-action-contain">
                                      <div class="can-action-item">フォローする</div>
                                  </button>
                              </div>
                          </div>
                      </div>
                      <div class="notice-content">
                          <div class="notice-user">
                              <div class="user-icon">
                                  <a href="" class="user-icon-img"><img src="{% static 'sns/img/base/account_circle.svg' %}" alt=""></a>
                              </div>
                              <div class="user-info">
                                  <div class="user-id">
                                      <span class="user-id">kagawa_shinji</span><span class="action">があなたの写真に「いいね！」 しました</span><span class="date">6日前</span>
                                  </div>
                              </div>
                              <div class="can-action">
                                  <button class="can-action-contain">
                                      <div class="can-action-item">フォローする</div>
                                  </button>
                              </div>
                          </div>
                      </div>
                      <div class="notice-content">
                          <div class="notice-user">
                              <div class="user-icon">
                                  <a href="" class="user-icon-img"><img src="{% static 'sns/img/base/account_circle.svg' %}" alt=""></a>
                              </div>
                              <div class="user-info">
                                  <div class="user-id">
                                      <span class="user-id">kagawa_shinji</span><span class="action">があなたの写真に「いいね！」 しました</span><span class="date">6日前</span>
                                  </div>
                              </div>
                              <div class="can-action">
                                  <button class="can-action-contain">
                                      <div class="can-action-item">フォローする</div>
                                  </button>
                              </div>
                          </div>
                      </div>
                      <div class="notice-content">
                          <div class="notice-user">
                              <div class="user-icon">
                                  <a href="" class="user-icon-img"><img src="{% static 'sns/img/base/account_circle.svg' %}" alt=""></a>
                              </div>
                              <div class="user-info">
                                  <div class="user-id">
                                      <span class="user-id">kagawa_shinji</span><span class="action">があなたの写真に「いいね！」 しました</span><span class="date">6日前</span>
                                  </div>
                              </div>
                              <div class="can-action">
                                  <button class="can-action-contain">
                                      <div class="can-action-item">フォローする</div>
                                  </button>
                              </div>
                          </div>
                      </div>
                 </div>
            </div>
            <div class="room">
                <div class="room-icon">
                    <a href="" class="room-img"><img src="{% static 'sns/img/base/room.svg' %}" alt=""></a>
                </div>
            </div>
            <div class="questions">
                <div class="questions-icon">
                    <a href="" class="questions-img"><img src="{% static 'sns/img/base/question.svg' %}" alt=""></a>
                </div>
            </div>
            <div class="my-icon">
                <div id="my-icon-contain" class="my-icon-contain">
                    <img src="{% static 'sns/img/base/account_circle.svg' %}" alt="">
                </div>
                <div id="my-icon-box" class="my-icon-box none"></div>
                <div id="my-icon-description" class="my-icon-description none">
                    <div class="profile-wrap">
                        <div class="profile-content">
                            <div class="profile-icon">
                                <img src="{% static 'sns/img/base/account_circle.svg' %}" alt="">
                            </div>
                            <div class="profile-text">
                                <a class="a" href="{% url 'sns:user_home' username %}">プロフィールへ</a>
                            </div>
                        </div>
                    </div>
                    <div class="settings-wrap">
                        <div class="setting-content">
                            <div class="setting-icon">
                                <img src="{% static 'sns/img/base/settings.svg' %}" alt="">
                            </div>
                            <div class="setting-text">
                                <a class="a" href="">設定へ</a>
                            </div>
                        </div>
                    </div>
                    <hr class="line">
                    <div class="logout-wrap">
                        <div class="logout-content">
                            <a href="{% url 'sns:logout' %}" class="logout">ログアウト</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </nav>
</div>
{% block content %}
{% endblock %}
<script src="{% static 'sns/js/jquery-3.6.0.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'sns/js/base.js' %}" ></script>
{% comment %} <script src="{% static 'sns/js/async.js' %}"></script> {% endcomment %}
</body>
</html>