<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
<div class="header-wrap">
    <nav>
        <div class="header-contain">
            <div class="icon">
                <div class="icon-img">
                    <a href="">FINAL CLUB</a>
                </div>
            </div>
            <div class="search">
                <div class="search-box">
                    <form action="">
                        <label for="search_input"></label><input id="search_input" type="text" placeholder="   検索">
                    </form>
                    <div id="search_box" class="box none"></div>
                    <div id="search_result" class="search-result none">
                        <div class="result-content">
                            <div class="result-user">
                                <div class="user-icon"></div>
                                <div class="user-info">
                                    <div class="user-id">
                                        jjjjjjjjjjjjjjjjjj
                                    </div>
                                    <div class="user-name">
                                        kflajflajfjalkjflkjaldf
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="result-content">
                            <div class="result-user">
                                <div class="user-icon"></div>
                                <div class="user-info">
                                    <div class="user-id">
                                        jjjjjjjjjjjjjjjjjj
                                    </div>
                                    <div class="user-name">
                                        kflajflajfjalkjflkjaldf
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="result-content">
                            <div class="result-user">
                                <div class="user-icon"></div>
                                <div class="user-info">
                                    <div class="user-id">
                                        jjjjjjjjjjjjjjjjjj
                                    </div>
                                    <div class="user-name">
                                        kflajflajfjalkjflkjaldf
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="result-content">
                            <div class="result-user">
                                <div class="user-icon"></div>
                                <div class="user-info">
                                    <div class="user-id">
                                        jjjjjjjjjjjjjjjjjj
                                    </div>
                                    <div class="user-name">
                                        kflajflajfjalkjflkjaldf
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="result-content">
                            <div class="result-user">
                                <div class="user-icon"></div>
                                <div class="user-info">
                                    <div class="user-id">
                                        jjjjjjjjjjjjjjjjjj
                                    </div>
                                    <div class="user-name">
                                        kflajflajfjalkjflkjaldf
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="result-content">
                            <div class="result-user">
                                <div class="user-icon"></div>
                                <div class="user-info">
                                    <div class="user-id">
                                        jjjjjjjjjjjjjjjjjj
                                    </div>
                                    <div class="user-name">
                                        kflajflajfjalkjflkjaldf
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="result-content">
                            <div class="result-user">
                                <div class="user-icon"></div>
                                <div class="user-info">
                                    <div class="user-id">
                                        jjjjjjjjjjjjjjjjjj
                                    </div>
                                    <div class="user-name">
                                        kflajflajfjalkjflkjaldf
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notice"></div>
            <div class="room"></div>
            <div class="questions"></div>
            <div class="my-icon"></div>
        </div>
    </nav>
</div>
<script src="/static/js/base.js" ></script>
</body>
</html>