<html lang="ja">
    <head>
      <title>{% block title %}celeryテスト{% endblock %}</title>
      <meta http-equiv="refresh" content="10; URL="> 
    </head>        
    <body>           
      <h1>初心者でも非同期処理がしたい</h1>                
            <p>値を入力</p>
            <form method="post" action="celery">
                {% csrf_token %}
              <tbody>
                <td><input type="text" name="input_a"></td>
                <td>+</td>
                <td><input type="text" name="input_b"></td>
              </tbody>
              <input type="submit" name="add_button" value="計算!">
            </form>    
      <h1>結果！</h1>
            <tbody>        
                <td>出力値:</td>
                <td>{{ result }}</td>
            </tbody>
    </body>
</html>