{% extends "sns/base.html" %}
{% block title %}{{ block.super }}{% endblock %}
{% block file %}
{% load static %}
<link rel="stylesheet" href="{% static 'sns/css/home.css' %}">
<link rel="stylesheet" href="{% static 'sns/css/cropper.css' %}">
{% endblock %}
{% block content %}
<div class="home-wrap">
<div class="home-container">
    <div id="left-container" class="left-container">
        {% for board in boards %}
        <div class="board-container">
            <div class="board-wrap">
                <div class="board-header-wrap">
                    <div class="board-header-contents">
                    <div class="board-user-wrap">
                        <div class="board-icon">
                            <a href="{% url 'sns:user_home' board.item.user_profile.username %}"><img src="{{ board.item.user_profile.user_icon.url}}" alt=""></a>
                        </div>
                        <div class="board-username">
                            <a href="{% url 'sns:user_home' board.item.user_profile.username %}">{{ board.item.user_profile.username }}</a>
                        </div>
                    </div>
                    <div class="board-setting">
                        <div class="three-point">
                            <img src="{% static 'sns/img/home/three_point.svg' %}" alt="">
                        </div>
                    </div>
                    </div>
                </div>
                <div class="board-picture-wrap">
                    <div class="board-picture">
                        {% if board.item.picture1 %}
                        <img src="{{ board.item.picture1.url }}" class="target" alt="">
                        {% endif %}
                        {% if board.item.picture2 %}
                        <img src="{{ board.item.picture2.url }}" alt="">
                        {% endif %}
                        {% if board.item.picture3 %}
                        <img src="{{ board.item.picture3.url }}" alt="">
                        {% endif %}
                        {% if board.item.picture4 %}
                        <img src="{{ board.item.picture4.url }}" alt="">
                        {% endif %}
                        {% if board.item.picture5 %}
                        <img src="{{ board.item.picture5.url }}" alt="">
                        {% endif %}
                        {% if board.item.picture6 %}
                        <img src="{{ board.item.picture6.url }}" alt="">
                        {% endif %}
                        {% if board.item.picture7 %}
                        <img src="{{ board.item.picture7.url }}" alt="">
                        {% endif %}
                        {% if board.item.picture8 %}
                        <img src="{{ board.item.picture8.url }}" alt="">
                        {% endif %}
                        {% if board.item.picture9 %}
                        <img src="{{ board.item.picture9.url }}" alt="">
                        {% endif %}
                        {% if board.item.picture10 %}
                        <img src="{{ board.item.picture10.url }}" alt="">
                        {% endif %}
                    </div>
                    {% if board.item.picture2 %}
                    <div class="navigator-before-shadow none"></div>
                    <button class="navigator-before none" id="before">
                        <div class="before"></div>
                    </button>
                    <div class="navigator-next-shadow"></div>
                    <button class="navigator-next">
                        <div class="next"></div>
                    </button>
                    {% endif %}
                    <div id="pointerPosition" class="position-wrap">
                        {% if board.item.picture2 %}
                        <div class="position blue"></div>
                        <div class="position"></div>
                        {% endif %}
                        {% if board.item.picture3 %}
                        <div class="position"></div>
                        {% endif %}
                        {% if board.item.picture4 %}
                        <div class="position"></div>
                        {% endif %}
                        {% if board.item.picture5 %}
                        <div class="position"></div>
                        {% endif %}
                        {% if board.item.picture6 %}
                        <div class="position"></div>
                        {% endif %}
                        {% if board.item.picture7 %}
                        <div class="position"></div>
                        {% endif %}
                        {% if board.item.picture8 %}
                        <div class="position"></div>
                        {% endif %}
                        {% if board.item.picture9 %}
                        <div class="position"></div>
                        {% endif %}
                        {% if board.item.picture10 %}
                        <div class="position"></div>
                        {% endif %}
                    </div>
                </div>
                <div class="board-footer">
                    <div class="board-action-wrap">
                        <div class="favorite">
                            {% if board.liked %}
                                <img class="favorite-action" src="{% static 'sns/img/home/favorite_t.svg' %}" data-boardid="{{ board.item.pk }}" alt="">
                            {% else%}
                                <img class="favorite-action" src="{% static 'sns/img/home/favorite.svg' %}" data-boardid="{{ board.item.pk }}" alt="">
                            {% endif %}
                        </div>
                    </div>
                    <div class="board-like-list">
                        <div class="like-list">
                            {% if board.likes == 0 %}
                            <span class="strong">「いいね！」</span>した人がまだいません
                            {% elif board.likes == 1%}
                            <span class="strong">{{ board.like_first_people.user_profile.username}}</span>が「いいね！」しました
                            {% else %}
                            <span class="strong">{{ board.like_first_people.user_profile.username }}、その他</span>が「いいね！」しました
                            {% endif %}
                        </div>
                    </div>
                    <div class="board-description-container">
                        <div class="board-description-wrap">
                            <div class="board-description-user">
                                {{ board.item.user_profile.username }}
                            </div>
                            <div class="board-description-text">
                                {{ board.item.description }}
                            </div>
                        </div>
                        <div class="board-comment-list-wrap">
                            <div class="comment-head">
                                <a href="{% url 'sns:board' board.item.id %}">コメント<span>{{ board.comment_count }}</span>件をすべて見る<a>
                            </div>
                            {% for comment in board.comments %}
                            <div class="comment-list">
                                <div class="comment-username">
                                    <a href="{% url 'sns:user_home' comment.user_profile.username %}">{{ comment.user_profile.username}}</a>
                                </div>
                                <div>
                                    &nbsp;
                                </div>
                                <div class="comment-text">
                                    {{ comment.comment }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="board-time">
                        {{ board.item.create_at }}
                    </div>
                    <div class="board-comment-action-wrap">
                        <input class="comment" type="text" placeholder="コメント追加...">
                        <input class="comment-submit" type="submit" data-boardid="{{ board.item.pk }}" value="投稿">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="right-container">
        <div class="create-board" id="create-board">
            <div class="post"><button id="post">投稿する</button></div>
            <div id="select-post-type-container" class="select-post-type-container none">
                <div class="select-post-type-wrap">
                    <div class="header-text">新規投稿を作成</div>
                    <div class="type">
                        <div id="text-type" class="text-type"><button id="text-type-btn">テキストを投稿</button></div>
                        <div id="photo-type" class="photo-type"><button id="photo-type-btn">写真を投稿</button></div>
                    </div>
                </div>
                <div class="cancel-btn"><button id="cancel-btn">
                    <span class="cancel-l-a"></span>
                    <span class="cancel-l-b"></span>
                </button></div>
            </div>
            <div id="crop-image-container" class="crop-image-container none">
                <div class="crop-image-wrap">
                    <div class="crop-header">
                        <div class="back-page"><button type="button" id="back-page">戻る</button></div>
                        <div class="header-text">切り取り</div>
                        <div class="next-page none"><button type="button" id="next-page">次へ</button></div>
                    </div>
                    <div class="crop-images-box">
                        <div class="crop-image-box">
                            <div class="workspace">
                                <img src="" alt="">
                                <span>Image Work Space</span>
                            </div>
                            <div class="input-crop-image">
                                    {% csrf_token %}
                                    <div class="picture-action-button">
                                        <button type="button" class="upload">Upload</button>
                                        <input type="file" style="display: none;" accept="image/*"  class="hidden-upload">
                                        <button class="plus" type="button">PLUS</button>
                                    </div>
                            </div>
                        </div>
                        <div class="crop-image-box">
                            <div class="workspace">
                                <img src="" alt="">
                                <span>Image Work Space</span>
                            </div>
                            <div class="input-crop-image">
                                    <div class="picture-action-button">
                                        <button class="input-back" type="button">Back</button>
                                        <button type="button" class="upload">Upload</button>
                                        <input type="file" style="display: none;" accept="image/*"  class="hidden-upload">
                                        <button class="plus" type="button">PLUS</button>
                                    </div>
                            </div>
                        </div>
                        <div class="crop-image-box">
                            <div class="workspace">
                                <img src="" alt="">
                                <span>Image Work Space</span>
                            </div>
                            <div class="input-crop-image">
                                    <div class="picture-action-button">
                                        <button class="input-back" type="button">Back</button>
                                        <button type="button" class="upload">Upload</button>
                                        <input type="file" style="display: none;" accept="image/*"  class="hidden-upload">
                                        <button class="plus" type="button">PLUS</button>
                                    </div>
                            </div>
                        </div>
                        <div class="crop-image-box">
                            <div class="workspace">
                                <img src="" alt="">
                                <span>Image Work Space</span>
                            </div>
                            <div class="input-crop-image">
                                    <div class="picture-action-button">
                                        <button class="input-back" type="button">Back</button>
                                        <button type="button" class="upload">Upload</button>
                                        <input type="file" style="display: none;" accept="image/*"  class="hidden-upload">
                                        <button class="plus" type="button">PLUS</button>
                                    </div>
                            </div>
                        </div>
                        <div class="crop-image-box">
                            <div class="workspace">
                                <img src="" alt="">
                                <span>Image Work Space</span>
                            </div>
                            <div class="input-crop-image">
                                    <div class="picture-action-button">
                                        <button class="input-back" type="button">Back</button>
                                        <button type="button" class="upload">Upload</button>
                                        <input type="file" style="display: none;" accept="image/*"  class="hidden-upload">
                                        <button class="plus" type="button">PLUS</button>
                                    </div>
                            </div>
                        </div>
                        <div class="crop-image-box">
                            <div class="workspace">
                                <img src="" alt="">
                                <span>Image Work Space</span>
                            </div>
                            <div class="input-crop-image">
                                    <div class="picture-action-button">
                                        <button class="input-back" type="button">Back</button>
                                        <button type="button" class="upload">Upload</button>
                                        <input type="file" style="display: none;" accept="image/*"  class="hidden-upload">
                                        <button class="plus" type="button">PLUS</button>
                                    </div>
                            </div>
                        </div>
                        <div class="crop-image-box">
                            <div class="workspace">
                                <img src="" alt="">
                                <span>Image Work Space</span>
                            </div>
                            <div class="input-crop-image">
                                    <div class="picture-action-button">
                                        <button class="input-back" type="button">Back</button>
                                        <button type="button" class="upload">Upload</button>
                                        <input type="file" style="display: none;" accept="image/*"  class="hidden-upload">
                                        <button class="plus" type="button">PLUS</button>
                                    </div>
                            </div>
                        </div>
                        <div class="crop-image-box">
                            <div class="workspace">
                                <img src="" alt="">
                                <span>Image Work Space</span>
                            </div>
                            <div class="input-crop-image">
                                    <div class="picture-action-button">
                                        <button class="input-back" type="button">Back</button>
                                        <button type="button" class="upload">Upload</button>
                                        <input type="file" style="display: none;" accept="image/*"  class="hidden-upload">
                                        <button class="plus" type="button">PLUS</button>
                                    </div>
                            </div>
                        </div>
                        <div class="crop-image-box">
                            <div class="workspace">
                                <img src="" alt="">
                                <span>Image Work Space</span>
                            </div>
                            <div class="input-crop-image">
                                    <div class="picture-action-button">
                                        <button class="input-back" type="button">Back</button>
                                        <button type="button" class="upload">Upload</button>
                                        <input id="a" type="file" style="display: none;" accept="image/*"  class="hidden-upload">
                                        <button class="plus" type="button">PLUS</button>
                                    </div>
                            </div>
                        </div>
                        <div class="crop-image-box">
                            <div class="workspace">
                                <img src="" alt="">
                                <span>Image Work Space</span>
                            </div>
                            <div class="input-crop-image">
                                    <div class="picture-action-button">
                                        <button class="input-back" type="button">Back</button>
                                        <button type="button" class="upload">Upload</button>
                                        <input type="file" style="display: none;" accept="image/*"  class="hidden-upload">
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cancel-btn"><button id="cancel-s-btn">
                    <span class="cancel-l-a"></span>
                    <span class="cancel-l-b"></span>
                </button></div>
            </div>
            <div id="description-input-container" class="description-input-container none">
                <div class="description-input-wrap">
                    <div class="description-input-header">
                        <div class="back-page"><button id="back-page">戻る</button></div>
                        <div class="header-text">コメント</div>
                        <div class="next-page"><button type="button" id="board-upload">upload</button></div>
                    </div>
                    <div class="description-input-item">
                        <textarea id="description-input" type="text" class="description-input"></textarea>
                    </div>
                </div>
                <div class="cancel-btn"><button>
                    <span class="cancel-l-a"></span>
                    <span class="cancel-l-b"></span>
                </button></div>
            </div>
    </div>
</div>
</div>
<script src="{% static 'sns/js/cropper.js' %}"></script>
<script src="{% static 'sns/js/home.js' %}"></script>
{% endblock %}