{% extends "sns/base.html" %}
{% block title %}{{ block.super }}{% endblock %}
{% block file %}
{% load static %}
<link rel="stylesheet" href="{% static 'sns/css/home.css' %}">
<link rel="stylesheet" href="{% static 'sns/css/croppie.css' %}">
{% endblock %}
{% block content %}
<div class="home-wrap">
<div class="home-container">
    <div class="left-container">
        {% for board in boards %}
        <div class="board-container">
            <div class="board-wrap">
                <div class="board-header-wrap">
                    <div class="board-header-contents">
                    <div class="board-user-wrap">
                        <div class="board-icon">
                            <a href="{% url 'sns:user_home' board.item.user_profile.username %}"><img src="{{ board.item.user_profile.user_icon.url}}" alt=""></a>
                        </div>
                        <div class="board-username">
                            <a href="{% url 'sns:user_home' board.item.user_profile.username %}">{{ board.item.user_profile.username }}</a>
                        </div>
                    </div>
                    <div class="board-setting">
                        <div class="three-point">
                            <img src="{% static 'sns/img/home/three_point.svg' %}" alt="">
                        </div>
                    </div>
                    </div>
                </div>
                <div class="board-picture-wrap">
                    <div class="board-picture">
                        <img src="{{ board.item.picture1.url }}" class="target" alt="">
                        <img src="{{ board.item.picture2.url }}" alt="">
                    </div>
                    <div class="navigator-before-shadow none"></div>
                    <button class="navigator-before none" id="before">
                        <div class="before"></div>
                    </button>
                    <div class="navigator-next-shadow"></div>
                    <button class="navigator-next">
                        <div class="next"></div>
                    </button>
                </div>
                <div class="board-footer">
                    <div class="board-action-wrap">
                        <div class="favorite">
                            <img src="{% static 'sns/img/home/favorite.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="board-like-list">
                        <div class="like-list">
                            <span class="strong">line3888、その他</span>が「いいね！」しました                        </div>
                    </div>
                    <div class="board-description-container">
                        <div class="board-description-wrap">
                            <div class="board-description-user">
                                {{ board.item.user_profile.username }}
                            </div>
                            <div class="board-description-text">
                                {{ board.item.description }}
                            </div>
                        </div>
                        <div class="board-comment-list-wrap">
                            コメント
                        </div>
                    </div>
                    <div class="board-time">
                        {{ board.item.create_at }}
                    </div>
                    <div class="board-comment-action-wrap">
                        <input id="comment" type="text" placeholder="コメント追加...">
                        <input class="comment-submit" type="submit" value="投稿">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="right-container">
        <div class="create-board" id="create-board">
            <div class="form">
                <form id="create_boards_form" action="" method="POST" enctype="multipart/form-data" data-url="{% url 'sns:home' %}">
                    {% csrf_token %}
                    {{ board_form }}
                    <input id="submit" type="submit" value="送信">
                </form>
            </div>
        </div>
        <div class="create-bord-form-container">
            <div class="back"></div>
        </div>
    </div>
</div>
</div>
<!--<a class="btn btn-success btn-sm mb-2" href="#" data-toggle="modal" data-target="#uploadimageModal" role="button">プロフィール画像アップロード</a>-->
<!--<div class="modal fade" id="uploadimageModal" tabindex="-1" role="dialog" aria-labelledby="uploadimageModalTitle" aria-hidden="true">-->
{% comment %} </div>
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">プロフィール画像をアップロード</h5>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <p>プロフィールに使用する画像をアップロードし、トリミングを行った上で登録してください。</p>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon">アップロード</span>
                </div>
                <div class="custom-file">
                    <input type="file" name="upload_image" id="upload_image" class="custom-file-input" aria-describedby="inputGroupFileAddon" accept="image/*" />
                    <label class="custom-file-label" for="inputGroupFile" data-browse="参照">ファイル選択...</label>
                </div>
            </div>
            <div id="profileImage_croppie"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm" id="post_image">画像を登録</button>
            <button type="button" class="btn btn-secondary btn-sm ml-2" id="cancel" data-dismiss="modal">キャンセル</button>
        </div>
    </div>
</div> {% endcomment %}
<script src="{% static 'sns/js/home.js' %}"></script>
{% endblock %}