{% extends "sns/base.html" %}
{% block title %}{{ block.super }}{{ host_user.username}}{% endblock %}
{% block file%}
{% load static %}
<link rel="stylesheet" href="{% static 'sns/css/user_home.css' %}">
{% endblock %}
{% block content %}
<div class="user-home-container">
    <div class="user-home-wrap">
        <div class="profile-wrap">
            <div class="profile-image">
                <img src="{{ host_user.user_icon.url }}" alt="">
            </div>
            <div class="profile-description">
                <div class="profile-description-wrap">
                <div class="top">
                    {% csrf_token %}
                    <div class="username">
                        <h2 class="username-text">{{ host_user.username }}</h2>
                    </div>
                    <div class="action-message">メッセージを送信</div>
                    {% if  follow == "self" %}
                    <div class="follow-action"><a class="" href="">プロフィール更新</a></div>
                    {% elif follow == "followed" %}
                    <div class="follow-action"><a class="" href="{% url 'sns:clear_follow' host_user.username %}">フォローを解除</a></div>
                    {% else %}
                    <div class="follow-action"><a class="" href="{% url 'sns:follow' host_user.username %}">フォローをする</a></div>
                    {% endif %}
                    <div class="setting"><img src="{% static 'sns/img/home/three_point.svg' %}" alt=""></div>
                </div>
                <div class="middle">
                    <div class="board-count">投稿<span class="strong">{{ number_of_board }}</span>件</div>
                    <div class="follower-count">フォロワー<span class="strong">{{ count_follower}}</span>人</div>
                    <div class="follow-count">フォロー<span class="strong">{{ count_follow }}</span>人</div>
                </div>
                <div class="bottom">
                    <div class="nickname">{{ host_user.nickname }}</div>
                    <div class="user-intro">{{ host_user.introduction }}</div>
                </div>
                </div>
            </div>
        </div>
        <div class="boards-container">
            <div class="boards-wrap">
                {% for board in boards %}
                <div class="board"><a href="{% url 'sns:board' board.id %}"><img src="{{ board.picture1.url}}" alt=""></a></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}